.topnav {
    background-color: rgb(146, 141, 141);
    overflow: hidden;
}
.topnav a {
    color: rgb(28, 28, 71);
    text-decoration: none;
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 30px;
}

/* med de tre sista left, top och width hamnar den på rätt ställe */
.dropdown-content {
  display: block;
    display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 213px;
  top: 70.5px;
  width: 170.5px;
}
/* listar dropdown content */
.dropdown-content a {
    float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.topnav a:hover { 
    background-color: rgb(180, 172, 172);
    color: #ea5757;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}
.topnav a.active {
    background-color: rgb(180, 172, 172);
    color: white;
}

.topnav .icon {
    display: none;
}
.topnav.responsive .dropdown-content a { 
  display: none;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
    background-color: rgb(180, 172, 172);
}




@media screen and (max-width:700px) { /* allt i denna ska va med */
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: block;
        float: right;
    }
    .dropdown-container {
      display: none;
    }
}
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;} /* denna håller burger uppe till hö*/
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a { /* visar länkar i öppen burger menu */
    float: none;
    display: block;
    text-align: left;
  }
  /* visar contact "contact"-länk i öppen burger menu*/
  .topnav.responsive div { 
    float: none;
    display: block;
    text-align: left;
    width: 100%;
   }
  /* denna visar dropdown content*/
  .topnav.responsive .dropdown-content a{ 
    display: block;
    background-color: aliceblue;
  }
/* får den under rätt flik :p */
.dropdown-content {
  position: sticky;
}
.topnav.responsive .dropdown-content a:hover {
  background-color: rgb(180, 172, 172);
}

}

 


