.topnav {
    background-color: rgb(146, 141, 141);
    overflow: hidden;
}
.topnav a {
    color: rgb(28, 28, 71);
    text-decoration: none;
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 30px;
}

/* lägger allt i ett ovanpå m z-index - dock fel position*/
.dropdown-content {
  display: block;
    /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* listar dropdown content */
.dropdown-content a {
    float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .dropdown-container {
  float: left;
  overflow: hidden;
} */
.topnav a:hover {
    background-color: rgb(180, 172, 172);
    color: #ea5757;
}
.dropdown-container:hover {
  display: block;
}
.topnav a.active {
    background-color: rgb(180, 172, 172);
    color: white;
}

.topnav .icon {
    display: none;
}
.topnav.responsive .dropdown-content a { 
  display: none;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}




@media screen and (max-width:700px) { /* allt i denna ska va med */
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: block;
        float: right;
    }
    .dropdown-container {
      display: none;
    }
}
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;} /* denna håller burger uppe till hö*/
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a { /* visar länkar i öppen burger menu */
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive div { /* visar contact länk i öppen burger menu*/
    float: none;
    display: block;
    text-align: left;
   }
  /* denna visar dropdown content*/
  .topnav.responsive .dropdown-content a{ 
    display: block;
    background-color: aliceblue;
  }



}

 


